.aboutFluid{
    margin-bottom: 50px;
}
.aboutFluid h1{
    /* text-align: center; */
    /* display: inline-block; */
    border-bottom: 2px solid white;
}
.aboutContainer{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:15px;
}
.aboutLeft{
    width: 49%;
    /* border: 2px solid green; */
}
#aboutImg{
    width: 350px;
    height: 350px;
    /* border: 2px solid white; */
    
}
.aboutRight{
    width: 49%;
    /* border: 2px solid blue; */
    padding: 20px 10px;
}
.content h6{
    margin-top: 20px;
}