@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;1,500&family=Poppins:ital,wght@0,300;0,400;0,500;1,600&family=Satisfy&display=swap');

#Title{
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    color: white;
}
.nav-item a{
    color: #83838c;
}
.nav-item a:hover{
    color: white;
}
.navbar-toggler,.navbar-toggler-icon{
    color: white;
}
.active{
    color: blue;
}
.navbar-toggler{
    background-color: white;
}
.btnResume{
    border: 1px solid white;
    color: white;
    
}
.nav-item .btnResume{
    width: 100%;
    color: white;
}
.nav-item .btnResume:hover{
    background-color: white;
    color: black;
}